<!DOCTYPE html>
<html>
<head>
  <title>Gourmet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</head>
<body>

<div id="wrapper">
<%= render "common/navbar" %>
<div class="container main">
<%= notice_message %>
<%= yield %>
</div>
<%= render "common/footer" %>
</div>

</body>
</html>
